.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background-color: skyblue;
  padding: 10px;
  justify-content: space-between;
}
.tab {
  margin-left: 0%;
  font-size: 200%;
  margin-right: 400px;
  font-weight: bolder;
  text-decoration: none;
  color: green;
}

.nav {
  margin-right: 50px;
  text-decoration: none;
  font-weight: 800;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
